#
# This group is read both both by the client and the server
# use it for options that affect everything
#
[client-server]

#
# This group is read by the server
#
[mysqld]
# Disabling symbolic-links is recommended to prevent assorted security risks
slow_query_log=on
long_query_time=0.005
slow_query_log_file='/var/log/queries.log'
symbolic-links=0

#
# include all files from the config directory
#
!includedir /etc/my.cnf.d

